<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cm.trixobase.sharenda"
    android:versionCode="13"
    android:versionName="1.3"
    tools:ignore="GradleOverrides">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="26"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/sharenda_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SharendaTheme">
        <receiver
            class="cm.trixobase.sharenda.system.media.PhoneProcess$SmsReceiver"
            android:name=".system.media.PhoneProcess$SmsReceiver"
            android:enabled="true"
            android:priority="100">
            <intent-filter
                android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="cm.trixobase.sharenda.system.media.PhoneProcess$TimeAlert" />

        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@style/Splash_Theme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domain.activity.registration.RegistrationHomeActivity"
            android:theme="@style/Splash_Theme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.PolicyActivity"
            android:label="@string/label_title_policy"
            android:parentActivityName=".domain.activity.registration.RegistrationHomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.view.ViewParent"
                android:value="cm.trixobase.sharenda.domain.registration.RegistrationHomeActivity" />
        </activity>
        <activity
            android:name=".domain.activity.setting.SettingHelpAbout"
            android:theme="@style/About_Theme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.registration.Registration"
            android:parentActivityName=".domain.activity.registration.RegistrationHomeActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.view.ViewParent"
                android:value="cm.trixobase.sharenda.domain.registration.RegistrationHomeActivity" />
        </activity>
        <activity
            android:name=".domain.activity.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/Splash_Theme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.group.GroupAddActivity"
            android:label="@string/label_title_activity_group_add"
            android:parentActivityName=".domain.activity.home.PhoneActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.view.ViewParent"
                android:value="cm.trixobase.sharenda.domain.activity.home.PhoneActivity" />
            <meta-data
                android:name="page_called"
                android:value="phone_group" />
        </activity>
        <activity
            android:name=".domain.activity.group.GroupEditActivity"
            android:label="@string/label_title_activity_group_edit"
            android:parentActivityName=".domain.activity.home.PhoneActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.view.ViewParent"
                android:value="cm.trixobase.sharenda.domain.activity.home.PhoneActivity" />
        </activity>
        <activity
            android:name=".domain.activity.group.GroupMembersActivity"
            android:label="@string/label_title_activity_group_add"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.home.EventActivity"
            android:label="@string/app_name"
            android:theme="@style/Home"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.home.PhoneActivity"
            android:label="@string/app_name"
            android:theme="@style/Home"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.activity.ActivityAdd"
            android:parentActivityName=".domain.activity.home.EventActivity"
            android:theme="@style/SharendaTheme"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.view.ViewParent"
                android:value="cm.trixobase.sharenda.domain.activity.home.EventActivity" />
        </activity>
        <activity
            android:name=".domain.activity.SendSmsActivity"
            android:parentActivityName=".domain.activity.home.PhoneActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.setting.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.setting.SettingPreferences"
            android:parentActivityName=".domain.activity.setting.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.setting.SettingLanguage"
            android:parentActivityName=".domain.activity.setting.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.setting.SettingHelp"
            android:parentActivityName=".domain.activity.setting.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".domain.activity.setting.SettingPreferencesCategory"
            android:parentActivityName=".domain.activity.setting.SettingPreferences"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".domain.activity.setting.SettingHelpContact"
            android:parentActivityName=".domain.activity.setting.SettingHelp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>